<h2> Editting Answer Page </h2>
<h4> Question Details </h4>
<p>
    <%= "Question ID: #{@question.id} Asked by #{User.find(@question.user_id).full_name}" %>
    <br><%= "First Asked: #{@question.created_at}" %>
    <br><%= "Last Update: #{@question.updated_at}" %>
</p>

<h4> Question </h4>
<p><%= @question.question %></p>

<hr>

<h2> Edit Answer </h2>

<h4> Original Answer </h4>
<%= @answer.answer %>

<h4> Update Answer </h4>
<form action="/answer/<%= @answer.id %>/edit" method="post" class="form-group">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <textarea type="text" name="answer" placeholder="Your Answer Here...." class="form-control w-50 border rounded" rows="5" style="min-width:500px;"><%= @answer.answer %></textarea>
    <input type="submit" value="submit" class="btn btn-raised btn-secondary text-center">
</form>